
<!-- Cuerpo del home -->
<div class="container-fluid ">
  <div class="row fondo">
      <div class="col-md-9">
          <div class="row">
              <div class="col-md-4">
                  <img src="../../../../assets/icono.png" class="card-img-top img-fluid1" alt="Icono de Usuario">
              </div>
              <div class="col-md-8">
                <h1>Bienvenid@ {{ details?.nomUsuario }}</h1>
                <p>Bienvenida a tu aplicación de lecturas,donde podrás disfrutar añadiendo los libros que estas leyendo,puntuarlos y hacer una crítica
                  de lo que te ha parecido y además unirte a clubs y añadir libros a tus próximas lecturas.
                </p>
              </div>
          </div>
    <div class="col-md-12 colCarrousel">
      <!--CARRUSEL-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active car1">
            <!--PRIMER CARRUSEL-->
            <h2 id="libroMasVendido">Libro más vendido</h2>
            <div class="row carruselCol">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-5 columna1">
                    <img src="{{books.items[0].volumeInfo.imageLinks.thumbnail}}" id="portadas"
                      class="card-img-top img shadow-lg rounded-lg" alt="Portada">
                  </div>
                  <div class="col-md-7 columna2">
                    <h3 id="titulo">{{books.items[0].volumeInfo.title}}</h3>
                    <h5 id="autor">{{books.items[0].volumeInfo.authors}}</h5>
                    <p id="sinopsis">{{books.items[0].searchInfo.textSnippet}}</p>
                    <!-- <a href="#" class="myButton">Leer más...</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item car1">
            <!--SEGUNDO CARRUSEL-->
            <h2 id="libroMasVendido">Más puntuado</h2>  
            <div class="row carruselCol">
                <div class="col-md-12">
                  <div class="row"> 
                    <div class="col-md-7 columna2">
                      <h3 id="titulo">{{bestBook.items[0].volumeInfo.title}}</h3>
                      <h5 id="autor">{{bestBook.items[0].volumeInfo.authors}}</h5>
                      <p id="sinopsis">{{bestBook.items[0].searchInfo.textSnippet}}</p>
                      <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                    </ng-template>
                    <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                    <br>
                    <!-- boton que activa la función de favoritos -->
                    <button type="submit" class="myButton" (click)="favoritos()">
                      <span *ngIf="!agregado">Añadir a favoritos</span>
                      <span *ngIf="agregado">Añadido</span>
                    </button>
                </div>
                    
                    <div class="col-md-5 columna1">
                        <img src="{{bestBook.items[0].volumeInfo.imageLinks.thumbnail}}" id="portadas"
                          class="card-img-top img shadow-lg rounded-lg" alt="Portada">
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Espacion para información adicional de la derecha -->

    <div class="col-md-3 espacioInformacion">
      <div class="container-fluid">
          <div class="card">
              <h5>{{clubMasNuevo[0].NombreClub}}</h5>
              <img src="../../../../assets/fogg-no-comments.png" class="card-img-top" alt="...">
              <div class="card-body">
              <p>{{clubMasNuevo[0].DescripcionClub}}</p>
              </div>
            </div>
            <br>
        <div class="card">
            <img src="../../../../assets/fogg-searching-1.png" class="card-img-top" alt="Icono de Usuario">
            <div class="card-body">
                <h4 class="card-text">Tu último libro leído</h4>
            </div>
          </div>
          </div>
    </div>
  </div>
</div>
