<div class="row mt-4 mx-auto">
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4" style="text-align: center;">
    <h1 class="display-4" style="font-family: 'Amatic SC', cursive;">Mis Libros</h1>
  </div>
  <div class="col-md-4">
    
  </div>
</div>

<div class="row pt-3 mt-4 mx-auto example-list" 
    cdkDropList cdkDropListOrientation="horizontal" 
    (cdkDropListDropped)="drop($event)">
  <div *ngFor="let books of books; index as i" class="col-md-2 mb-4 justify-content drag" cdkDrag >
    <div class="card" (click)="sendBook(books)" [routerLink]="[ '/home/book/details' ]" routerLinkActive="active">
      <img *ngIf="books.portada" class="card-img-top" src="{{books.portada}}" alt="" #img height="250vw">
      <div *ngIf="!books.portada" style="height: 250px; text-align: center;">
        <img class="card-img-top" src="../../../../assets/no-image-icon-23485.png" alt="no image" #NoImg>
        <hr>
        <i>Sin imagen</i>
      </div>
      <div class="overlay">
        <h5 class="m-2">{{ (books.titulo.length > 35)? (books.titulo | slice:0:35) + '...':(books.titulo) }}</h5>
        <hr style="color: white; background-color: white; border: none; height: 0.7px; width: 87%">
        <p><i>J.K Rowling</i></p>
        <p>{{books.genero}}</p>
        <p *ngIf="books.paginas">{{books.paginas}} Páginas</p>
      </div>
    </div>
  </div>
</div>

<script>

  var sizeTheOverlays = function () {
    $(".overlay").resize().each(function () {
      var h = $(this).parent().outerHeight();
      var w = $(this).parent().outerWidth();
      $(this).css("height", h);
      $(this).css("width", w);
    });
  };

  sizeTheOverlays();

  var width = $(window).width();
  $(window).resize(function () {
    if ($(this).width() != width) {
      width = $(this).width();
      sizeTheOverlays();
    }
  });

</script>
