<div class="container-fluid bg-azulc4 rounded-des font-rale">

    <div id="mr-4" class="container pt-4">


        <div id="mr-4" class="row animated fadeIn fast ml-8">
            <!-- ICONO Y BOTONES DE ELIMINAR Y MODIFICAR -->
            <div class="col-md-4 ">

                <div class="container">
                    <img src=" assets/fogg-coffee-break.png " class="img-fluid rounded-icon border border-info">
                </div>
                <!-- Cuando funcione en el src se pone: details?.icono-->
                <br><br>
                <button type="button" (click)="openModal(modify)" class="btn btn-verdec btn-block text-dark"><img src="https://img.icons8.com/wired/32/000000/edit.png" style="padding-right: 0.5vw;">Modificar
        perfil</button>
                <ng-template #modify>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Modificar perfil</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>

                    <!-- MODAL PARA MODIFICAR -->
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="nombre">Alias</label>
                                <input [(ngModel)]="profile.alias" type="text" class="form-control" name="nombre" placeholder="{{ details?.alias }}">
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input [(ngModel)]="profile.nomUsuario" type="text" class="form-control" name="nombre" placeholder="{{ details?.nomUsuario }}">
                            </div>

                            <div class="form-group">
                                <label for="nombre">Primer apellido</label>
                                <input [(ngModel)]="profile.apellido1" type="text" class="form-control" name="nombre" placeholder="{{ details?.apellido1 }}">
                            </div>

                            <div class="form-group">
                                <label for="nombre">Segundo apellido</label>
                                <input [(ngModel)]="profile.apellido2" type="text" class="form-control" name="nombre" placeholder="{{ details?.apellido2 }}">
                            </div>

                            <div class="form-group">
                                <p>Sexo</p>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-info" id="dropdownBasic2" ngbDropdownToggle>{{sex}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                        <button (click)="select2('Mujer')" ngbDropdownItem>Mujer</button>
                                        <button (click)="select2('Hombre')" ngbDropdownItem>Hombre</button>
                                        <button (click)="select2('Otro')" ngbDropdownItem>Otro</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <p>Mi visibilidad</p>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>{{visi}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button (click)="select('Público')" ngbDropdownItem>Visible para todos</button>
                                        <button (click)="select('Solo Club')" ngbDropdownItem>Solo para mis clubs</button>
                                        <button (click)="select('Privado')" ngbDropdownItem>Solo para mí</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="correo">Correo electrónico</label>
                                <input [(ngModel)]="profile.email" type="email" class="form-control" name="correo" placeholder="{{ details?.email }}">
                            </div>
                            <div class="form-group">
                                <label for="bio">Un poco más de mí...</label>
                                <input [(ngModel)]="profile.bio" type="text" class="form-control" name="bio" placeholder="Escriba aquí...">
                            </div>
                            <!-- <hr class="bg-amarillo"> -->
                            <!-- <form [formGroup]="forma">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Nueva contraseña</label>
                                    <div class="col-md-8">

                                        <input class="form-control" type="password" placeholder="Nueva contraseña" formControlName="password1">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Verificar contraseña</label>
                                    <div class="col-md-8">

                                        <input class="form-control" type="password" placeholder="Verificar contraseña" formControlName="password2">
                                    </div>
                                </div>
                            </form> -->

                        </form>

                        <!-- BOTONES CANCELAR Y GUARDAR DEL MODAL DE MODIFICAR -->
                        <div class="modal-delete-button">
                            <button type="button" class="btn btn-rojoc text-dark text-white mt-2 ml-2 " (click)="modalRef.hide()">Cancelar</button>
                            <button type="button" class="btn btn-verdec text-dark text-white mt-2 ml-2" (click)="updateProfile(details?.codUsuario, profile.nomUsuario, profile.apellido1, profile.apellido2, profile.visibilidad, profile.email, profile.bio, profile.sexo, profile.alias)"
                                (click)="modalRef.hide() " onclick="location.reload()">Guardar</button>
                        </div>
                    </div>

                </ng-template>
                <br><br>
                <!-- MODAL PARA ELIMINAR -->
                <button type="button" (click)="openModal(template)" class="btn btn-rojoc btn-block text-dark"><img src="https://img.icons8.com/wired/32/000000/delete.png" style="padding-right: 0.5vw;">Eliminar
        perfil</button>
                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Eliminar perfil</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de que quiere eliminar su perfil?</p>
                        <p><small>Asegúrate de que no seas el Administrador de ningún club de lectura o este podría
              eliminarse.</small></p>
                        <!-- BOTONES CANCELAR Y GUARDAR DEL MODAL DE ELIMINAR -->
                        <div class="modal-delete-button">
                            <button type="button" class="btn btn-verdec text-dark text-white mt-2 ml-2 " (click)="modalRef.hide()">No</button>
                            <button type="button" class="btn btn-rojoc text-dark text-white mt-2 ml-2" (click)="modalRef.hide()" (click)="deleteProfile(details?.codUsuario)" (click)="auth.logout()">Sí</button>
                        </div>
                    </div>
                </ng-template>
            </div>

            <!-- DATOS DEL PERFIL -->
            <div class="col-md-8 mt-3">
                <h3 id="usu"><b> {{ details?.nomUsuario }} {{details?.apellido1}} {{details?.apellido2}}</b></h3>

                <hr class="bg-light">

                <p class="container">Alias: <b>{{ details?.alias == '' ? details?.nomUsuario : details?.alias }}</b>
                    <!-- Si no tiene alias, se pone su nombre. -->
                </p>
                <p class="container">Correo electrónico: {{ details?.email }} </p>

                <p class="container">Fecha de nacimiento: ( 00/00/0000 )
                    <!-- Cuando se pueda poner la fecha de nacimiento, se pone: {{ details?.fecha_nac }}-->
                </p>

                <div id="descri" class="container border border-light bg-azulc5 rounded-des pt-3 mb-3">
                    <h5><b> Un poco más de mí...</b></h5>
                    <hr class="bg-info">
                    <p>{{ details?.bio == '' ? "Aún no se ha proporcionado información." : details?.bio }}</p>
                    <!-- Si no tiene biografía, se pone lo otro. -->
                </div>

                <div id="libfav" class="container border border-light rounded-des pt-3 mb-3 bg-azulc5">
                    <h2><b>Libros favoritos</b></h2>
                    <hr class="bg-info">
                    <!-- Base, cambiar cuando haya datos -->
                    <div id="card" class="card-group pb-3 ">
                        <div class="card bg-azulc5 rounded-des">
                            <img src="assets/fogg-sign-in.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="card bg-azulc5 rounded-des">
                            <img src="assets/fogg-list-is-empty.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                        <div class="card bg-azulc5 rounded-des">
                            <img src="assets/fogg-waiting-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>